---
layout: layouts/home.njk
eleventyNavigation:
  key: Blog10
  order: 3
---


<h1>Welcome to my Blog10 Page</h1>


<p> This is my logo that I would like to include on each page </p>

{% image "./LogoMC.png", "A Blog-One Logo" %}

<p> Below you see a screenshot of my attempt at the table challenge on the web design course.</p>

{% image "./Table-Challenge.png", "A Blog-One Logo" < 20 %}

<p> Below you see a screenshot of my attempt at the table challenge on the web design course.</p>

{% image "./Basic Form.png", "A Basic Form" < 20 %}
