---
layout: layouts/base.njk
eleventyNavigation:
  key: JavaScriptTask
  order: 3
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Bill</title>
</head>

<body>
    <script>
    alert ('Your Final Total Bill will be:\n Items bill  + tip that is 20% of your item bill');

   </script>

   <script>
   var a = 142;
   var b = 53;


   sum = ((a+b)/100);
   tip = ((sum*100 * 0.2) /100);  
   </script>

   <script> 

   document.write("Sandwich price is £" + (a/100) + "."); 
   
   </script>
   <br>
   <br>
 <script>
    document.write("Orange Drinks price is £" + (b/100) + ".");
 </script>
<br>
<br>
   <script>

   document.write ("Your items bill is £" + (sum) + "." );
    
    </script>
    <br>
    <br>

<script>
   document.write ("Your tip bill is £" + (tip) + ".");
   </script>
  
   <br>
   <br>
<script>
    
   document.write ("Your Final Total Bill is £" + (sum + tip) + ".");
    
</script>

</body>
</html>