---
layout: layouts/base.njk
---
<!-- Delete this message, it will also remove the component CSS from the bundle -->
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
{% image "./headerPic2.png", "A Blog-One Logo" < 20 %}


{{ content | safe }}
